* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Clock";
    src: url(fonts/DS-DIGI.TTF);
}

.orbitron {
    font-family: "Clock", sans-serif;
    font-optical-sizing: auto;
}


/* container box */
#container-box {
    width: 80%;
    /* height: 500px; */
    margin: 120px auto;
    display: flex;
    /* flex-direction: column; */
    /* gap: 100px; */
    justify-content: space-around;
    align-items: center;
}

.right,
.left {
    width: 45%;
    text-align: center;
}

.screen-title {
    padding: 10px;
    font-size: 70px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.screen {
    padding-top: 0;
    border-radius: 10px;
    border: 4px solid #00000050;
    font-size: 350px;
    font-weight: 500;
}


/* button box */

#button-box {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

button {
    border: 0;

    cursor: pointer;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}

#btn-next,
#btn-previous,
#btn-reset {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-top: 15px;
    border-radius: 25px;
}

#btn-next {
    font-size: 80px;
    /* border: 4px solid black; */
    box-shadow: inset 0 0 15px 10px #00000010;
}